@use "sass:map";
@import "../../assets/styles/variables.scss";

$headerHeight: 15vh;

.header {
  height: $headerHeight;
  background-color: map.get($colors, white);

  .content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 50px;

    .right {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        display: flex;
        align-items: center;
        padding: 0 10px;
        font-size: 30px;
      }
    }
  }
}

.user {
  background-color: map.get($colors, white);
  color: map.get($colors, violet);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  a {
    display: flex;
    align-items: center;
    padding: 0 50px;
    font-size: 14px;
    color: map.get($colors, text-grey);
    // &:hover {
    //   background-color: map.get($colors, dark-grey);
    //   color: map.get($colors, white);
    // }
  }
}
