@use "sass:map";
@import "../../theme/variables";

.content {
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  width: 44vw;
  background-color: map.get($colors, light);
  border-color: map.get($colors, light-grey);
  border-width: 1px;
  border-style: dashed;
  border-radius: 20px;
  margin: 10px;
  text-decoration: none;
  transition: all 0.3s ease;

  &:hover {
    text-decoration: none;
    transform: translateY(-5px);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    border-color: map.get($colors, violet);
  }
}

.row {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  margin-left: 15px;

  h1 {
    font-size: 20px;
    transition: color 0.3s ease;
  }

  h2 {
    font-size: 14px;
  }
}

.category {
  display: flex;
  margin-right: 30px;
  align-items: center;
  justify-content: center;
  max-width: 100%;
  min-height: 46px;
  max-height: 100%;
  background-color: map.get($colors, white);
  transition: background-color 0.3s ease;

  p {
    margin: 0 24px;
    text-align: center;
  }
}

.info {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

a {
  text-decoration: none;

  &:hover {
    text-decoration: none;

    .category {
      background-color: map.get($colors, light);
    }

    h1 {
      color: map.get($colors, violet);
    }
  }
}
